@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-5">Compra y vende artículos de segunda mano en Wallapop</h5>
    <h5 class="display-5">una comunidad que lleva años generando impacto del bueno</h5>
</div>
