@model wallapop.Models.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Create">
    <div>
        <div>
            <h2>Nueva Categoría</h2>
        </div>
    </div>
</form>

