@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul class="nav justify-content-left">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-chevron-double-down"></i> Todas las categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Coches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Motos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Motor y Accesorios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Moda y Accesorios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inmobiliaria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>
<hr />
<br />

<div class="text-center">
    <h5 class="display-5">Compra y vende artículos de segunda mano en Wallapop</h5>
    <h5 class="display-5">una comunidad que lleva años generando impacto del bueno</h5>
</div>
<br />

<div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>