

<div class="d-grid gap-2 d-md-block">
	<a asp-action="Index" class="btn btn-light">
		<i class="bi bi-arrow-left"></i> Atás
	</a>
	<button type="submit" class="btn btn-danger">
		Eliminar
	</button>
</div>